<!DOCTYPE html>
<html>
  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Dropdown</title>

    <link rel="sheetstyle" href="/static/css/index.css">
    
  </head>
  <body>

    <div class="header_nav">
      <div class="header_nav_list">
        <nav class="primary_nav" aria-label="Primary">
          <div class="menu-item">
            <button class="menu_trigger" aria-haspopup="true" aria-expanded="false">
              <span class="menu_trigger_label">Menu</span>
            </button>
            <div class="menu_panel" aria-hidden="true" hidden="hidden">
              <ul class="menu_panel_list">
                <li class="menu_panel_item">
                  <a class="menu_panel_link" href="#" tabindex="-1">
                    <span>List 1</span>
                  </a>
                </li>
                <li class="menu_panel_item">
                  <a class="menu_panel_link" href="#" tabindex="-1">
                    <span>List 2</span>
                  </a>
                </li>
                <li class="menu_panel_item">
                  <a class="menu_panel_link" href="#" tabindex="-1">
                    <span>List 3</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    
  </body>
</html>
